{% extends 'index.html' %}

{% block content %}

<h1 class="text-center">Hip Hop Heads</h1>

<div class="container">
<div class="row">
{% for user in users %}
<div class="col m-3 text-center">
    <img src="{{user.img_url}}" />
    <p class="">{{user.username}}</p>

    {% if user not in g.user.following %}
    <a href="/follow/{{user.id}}" class="btn btn-primary">Follow</a>
    {% else %}
    <a href="/follow/{{user.id}}" class="btn btn-danger">Unfollow</a>
    {% endif %}

</div>
{% endfor %}
</div>
</div>
{% endblock %}