{% extends 'index.html' %}

{% block content %}
<h1 class="text-center">New Post for {{g.user.username}}</h1>

<div class="row justify-content-center">
  <form method="POST" action="/post/{{g.user.id}}">
      {{ form.hidden_tag() }}

    {% for field in form
          if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>

    {% endfor %}
    <button type="submit" class="btn btn-primary">Post!</button>
  </form>
</div>

{% endblock %}