 {% extends 'index.html' %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="mt-5 w-25 float-left col-4">
            <img src="{{g.user.img_url}}"  width="200p" alt="user image">

            <p>{{g.user.username}}</p>

            <div class="d-inline">
                <a href="/user/edit/{{g.user.id}}" class="btn btn-success btn-sm">Edit</a>
                <a href="/post/{{g.user.id}}" class="btn btn-primary btn-sm m-3">Make Post</a>

                <form action="/users/delete" method="POST">
                    <button class="btn btn-danger  btn-sm mt-5">Delete user</button>
                </form>

            </div>

            <div class="info bg-primary text-center">
                <a href="/following" class="d-inline m-3 text-dark"> Following: {{ g.user.following|length }}</a>
                <a href="/followers" class="d-inline m-3 text-dark">Followers: {{ g.user.followers|length }}</a>
                <a href="" class="d-inline m-3 text-dark"> Likes: {{ g.user.likes|length }}</a>
            </div>

        </div>

        <div class="container col-6 mt-5">
            {% for post in posts %}
            <div class="border m-3 d-flex">

                <img src="{{post.user.img_url}}" class="user-post-img m-2" alt="">

                <p class="mt-3">
                    <b>{{post.user.username}}:</b>

                    {{post.text}}

                    {% if post in user.likes %}

                    <form action="/like/{{post.id}}">
                        <button class="like btn btn-success btn-sm m-3" data-id="{{post.id}}">
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                    </form>

                    {% elif post not in g.user.post%}
                    <form action="/like/{{post.id}}">
                        <button class="like btn btn-danger btn-sm m-3" data-id="{{post.id}}">
                            <i class="far fa-thumbs-up"></i>
                        </button>
                    </form>
                    {% else %}

                    <form action="/post/delete/{{post.id}}" method="POST">
                        <button class="btn btn-danger btn-sm m-3">Delete</button>
                    </form>
                    {% endif %}
                </p>

            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}